
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
  
  {{if auth.is_logged_in():}}
	<h4>{{=T('Welcome')}}</h4>
	<ul>
	<li>{{=XML(T('The main tool for managing research projects (umbrella grouping of datasets) is at %s',
             A('%(application)s/manage/browse/project/'%request,
           _href=URL(c='manage', f='browse', args='project'))))}}</li>
    <li>{{=XML(T('The main tool for managing datasets is at %s',
           A('%(application)s/manage/browse/dataset/'%request,
             _href=URL(c='manage', f='browse', args='dataset'))))}}</li>
	<br/>
	<li>{{=XML(T('The main tool for managing access requests is at %s',
           A('%(application)s/manage/browse/accessrequest/'%request,
             _href=URL(c='manage', f='browse', args='accessrequest'))))}}</li>
	<li>{{=XML(T('The main tool for managing repository users is at %s',
           A('%(application)s/manage/browse/repo_user/'%request,
             _href=URL(c='manage', f='browse', args='repo_user'))))}}</li>
	</ul>
	<br/>
	
	<h4>{{=T('Quickstart')}}</h4>
	<p>I would like to...</p>
  <ul>
	<li>...manage data
		<ul>
			<li>Browse <strong>personnel records for projects or datasets</strong>: Go to <em>Manage Data > Data Personnel</em></li>
			<li>Browse <strong>publications relating to datasets</strong>: Go to <em>Manage Data > Publications</em></li>
			<li>Browse <strong>keywords for tagging datasets</strong>: Go to <em>Manage Data > Keywords</em></li>
			<li>Browse <strong>linkages between datasets</strong>: Go to <em>Manage Data > Dataset Linkages</em></li>
		</ul>
	</li>
	<br/>
	<li>...manage access
		<ul>
			<li>Browse <strong>all repository users</strong>: Go to <em>Manage Access > Users</em></li>
			<li>Browse <strong>access requests</strong>: Go to <em>Manage Access > Access Requests</em></li>
			<li>Browse <strong>combined access requests and attached users/roles</strong>: Go to <em>Manage Access > Accessors by Request</em></li>
			<li>Browse <strong>all request outputs</strong>: Go to <em>Manage Access > Request Outputs</em></li>
			<li>Browse <strong>requested datasets by access request and manage approvals</strong>: Go to <em>Manage Access > Dataset Access Approvals</em></li>
		</ul>
	</li>
	<br/>
	<li><strong>...quickly view a known dataset record</strong>: Go to <em>Quick Access > Jump to View or Edit</em></li>
	<li><strong>...quickly edit a known project, dataset, personnel or user record</strong>: Go to <em>Quick Access > Jump to View or Edit</em></li>
	<li><strong>...duplicate a dataset record</strong>: Go to <em>Quick Access > Duplicate a dataset</em></li>
	<li><strong>...copy a repository user record to a personnel record</strong>: Go to <em>Quick Access > Add User as Data Personnel</em></li>
  </ul>

  <hr>
  <p>See the {{=A('Guide', _href=URL(c='index', f='guide')) }} for further details of the inventory structure.</p>
  
  {{elif 'content' in globals():}}
	{{=content}}
  {{else:}}
  <li>{{=T('To use the data inventory please register in top right corner.')}}</li>
	{{=BEAUTIFY(response._vars)}}
  {{pass}}

  {{block right_sidebar}}
{{=A(T("About this site"), _href=URL('static', 'index.html'), _class='btn',
       _style='margin-top: 1em;')}}
{{end}}
