/** general text **/
.mastheader h1 {
	font-size: 36px;
}

/** shrink margin to remove whitespace **/
#header {
	margin-top: 15px;
}

/** make top navbar sticky **/
div.navbar {
	position: sticky;
	top:0vh;
	z-index:100;
}

/** Style sidebar **/
.left-sidebar {
	position: sticky;
	top: 10vh;
	background-color: #efefef;
	font-size: small;
	white-space: normal;
	padding-top: 5px;
	outline: thin solid #778899;
}
.left-sidebar li {
	list-style-type: none;
}

/** Style grid table **/
.web2py_grid .web2py_form table {
	table-layout:fixed;
	width: 100%;
	
	tr td.w2p_fw {
		width: 70%;
	}
	tr td.w2p_fl {
		width: 10%;
	}
	tr td.w2p_fl > label {
		white-space: normal;
		overflow-wrap: break-word;
	}
}

[type="text"], [type="password"], select {
  width: 95%;
}

.web2py_grid .web2py_form table tr td.w2p_fl label {
	text-align: right;
}

/** Style quick access forms **/
.form_quick_select > table {
	width:100%;
}
.form_quick_select > table .w2p_fl {
	width:100px;
}


/** Style data dictionary table **/
table#data_dictionary tr:nth-of-type(odd) {
  background-color: #BECFDD64;
}

table#data_dictionary td {
  padding-top:5px;
  padding-bottom:5px;
}
