
{{extend 'layout.html'}}
  
  <h4>View...</h4>
  <h5>{{=T('...full dataset details for (dataset shortname):')}}</h5>
  {{=form_view_dset}}
  
  <h5>{{=T('...full request details for (request title):')}}</h5>
  {{=form_view_request}}
  
  <hr>
  <h4>Edit...</h4>
  <h5>{{=T('...project details for:')}}</h5>
  {{=form_edit_project}}
  <h5>{{=T('...dataset details for:')}}</h5>
  {{=form_edit_dset}}
  <h5>{{=T('...personnel details for:')}}</h5>
  {{=form_edit_personnel}}
  <h5>{{=T('...user details for:')}}</h5>
  {{=form_edit_user}}
  
